
.header_fon {
	background-color: red;
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	text-align: center;
	color:#fff;

}
#tdl_1 tr td {
	border:2px solid #000;
}